<p>
  <strong>Name:</strong>
  <%= @article.name %>
</p>
 
<p>
  <strong>Age:</strong>
  <%= @article.age %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @article.contact %>
</p>
 
<p>
  <strong>Message:</strong>
  <%= @article.message %>
</p>